<div class="rounded-md p-4 <%= background_level_class %>">
  <div class="flex justify-center">
    <div class="flex-shrink-0 <%= title_level_class %>">
      <i class="fas fa-<%= icon %> fa-fw"></i>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium pt-0.5 <%= title_level_class %>"><%= title %></h3>
      <div class="my-2 text-sm <%= description_level_class %>">
        <p><%= description %></p>
      </div>

      <%= content %>
    </div>
  </div>
</div>
