<%= turbo_stream.replace "shopping_list_items" do %>
  <%= render "shopping_lists/items_container",
        shopping_list:     @shopping_list,
        items_by_category: @items_by_category %>
<% end %>

<%= turbo_stream.replace "shopping_list_counter" do %>
  <p id="shopping_list_counter" class="text-xs text-ink-subtle mt-0.5">
    <%= t("views.shopping_lists.unchecked_count", count: @unchecked_count) %>
  </p>
<% end %>

<%= turbo_stream.replace "shopping_list_badge" do %>
  <%= render "shared/shopping_badge", count: @unchecked_count %>
<% end %>

<%= turbo_stream.replace "shopping_export_bar" do %>
  <%= render "shopping_lists/export_bar",
        shopping_list:   @shopping_list,
        unchecked_count: @unchecked_count,
        has_checked:     @has_checked,
        has_items:       @has_items %>
<% end %>

