<%
  # Variables locales nécessaires :
  # @pagy : objet Pagy pour la pagination
  # @full_result_option : boolean pour afficher l'option "tous les résultats" (par défaut false)
  current_page = (params[:page].presence || 1).to_i
%>

<div class="flex items-center justify-between">
  <div class="flex flex-1 items-center justify-between">
    <p class="text-sm text-gray-700">
      <% if @pagy %>
        <%= "Résultats" %>
        <span class="font-medium px-1"><%= @pagy.from %></span>
        <%= "à" %>
        <span class="font-medium px-1"><%= @pagy.to %></span>
        <%= "sur" %>
        <span class="font-medium px-1"><%= @pagy.count %></span>
      <% else %>
        <span class="font-medium px-1">Tous les résultats affichés</span>
      <% end %>
    </p>

    <% if @pagy&.pages&.> 1 %>
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm ml-2" aria-label="Pagination">
        <% if @pagy %>
          <%= link_to helpers.pagy_url_for(@pagy, @pagy.prev), class: "#{pagination_links_class} px-2 rounded-l-md" do %>
            <i class="fas fa-chevron-left"></i>
          <% end %>
        <% end %>

        <% if @pagy %>
          <div class="hidden sm:flex">
            <% total_pages = @pagy.pages %>
            <% if total_pages > 7 %>
              <% if @pagy.page.in?(4...total_pages - 2) %>
                <%= link_to_page(1) %>
                <%= link_to_page(2) %>
                <%= page_ellipsis %>
                <%= link_to_page(@pagy.page) %>
                <%= page_ellipsis %>
                <%= link_to_page(total_pages - 1) %>
                <%= link_to_page(total_pages) %>
              <% else %>
                <% (1..3).each do |page| %>
                  <%= link_to_page(page) %>
                <% end %>
                <%= page_ellipsis %>
                <% ((total_pages - 2)..total_pages).each do |page| %>
                  <%= link_to_page(page) %>
                <% end %>
              <% end %>
            <% else %>
              <% (1..total_pages).each do |page| %>
                <%= link_to_page(page) %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <% if @pagy %>
          <%= link_to helpers.pagy_url_for(@pagy, @pagy.next), class: [pagination_links_class, right_arrow_class, "px-2"].compact.join(" ") do %>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        <% end %>

        <% if @full_result_option %>
          <%= link_to full_result_path, class: [pagination_links_class, "px-2 rounded-r-md"].join(" "), title: t(".full_result_option_title") do %>
            <i class="fas fa-list"></i>
          <% end %>
        <% end %>
      </nav>
    <% end %>
  </div>
</div>

<% if full_result? %>
  <%= link_to pagy_result_path, class: [pagination_links_class, "ml-1 px-2 rounded-md"].join(" "), title: t(".reload_with_pagination") do %>
    <i class="fas fa-undo"></i>
  <% end %>
<% end %>
