
<nav class="mt-6 flex flex-col h-full px-4">
    <div class="space-y-2">
        <%= link_to calendars_path, class: current_page?(calendars_path) ? "nav-link-active" : "nav-link" do %>
            <i class="fas fa-calendar-alt w-5 h-5 mr-3"></i>
            <span class="font-medium pb-1"><%= t("views.shared.sidebar.calendar") %></span>
        <% end %>

        <%= link_to foods_path, class: current_page?(foods_path) ? "nav-link-active" : "nav-link" do %>
            <i class="fas fa-utensils w-5 h-5 mr-3"></i>
            <span class="font-medium pb-1"><%= t("views.shared.sidebar.foods") %></span>
        <% end %>

        <%= link_to recipes_path, class: current_page?(recipes_path) ? "nav-link-active" : "nav-link" do %>
            <i class="fas fa-book-open w-5 h-5 mr-3"></i>
            <span class="font-medium pb-1"><%= t("views.shared.sidebar.recipes") %></span>
        <% end %>

        <%= link_to exercises_path, class: current_page?(exercises_path) ? "nav-link-active" : "nav-link" do %>
            <i class="fas fa-dumbbell w-5 h-5 mr-3"></i>
            <span class="font-medium pb-1"><%= t("views.shared.sidebar.exercises") %></span>
        <% end %>

        <%= link_to workout_programs_path, class: request.path.start_with?(workout_programs_path) ? "nav-link-active" : "nav-link" do %>
            <i class="fas fa-clipboard-list w-5 h-5 mr-3"></i>
            <span class="font-medium pb-1"><%= t("views.shared.sidebar.workout_programs") %></span>
        <% end %>

        <%= link_to weight_entries_path, class: current_page?(weight_entries_path) ? "nav-link-active" : "nav-link" do %>
            <i class="fas fa-weight-scale w-5 h-5 mr-3"></i>
            <span class="font-medium pb-1"><%= t("views.shared.sidebar.weight") %></span>
        <% end %>

        <%= link_to statistics_path, class: current_page?(statistics_path) ? "nav-link-active" : "nav-link" do %>
            <i class="fas fa-chart-line w-5 h-5 mr-3"></i>
            <span class="font-medium pb-1"><%= t("views.shared.sidebar.statistics") %></span>
        <% end %>

    </div>
    <div class="mt-auto pt-4 border-t border-surface-border/40">
        <%= link_to setting_path, class: "nav-link" do %>
            <i class="fas fa-cog w-5 h-5 mr-3"></i>
            <span class="font-medium pb-1"><%= t("views.shared.sidebar.settings") %></span>
        <% end %>
        <%= logout_link_with_confirm(destroy_user_session_path) %>
        <div class="border-t border-surface-border/40 mt-2 pt-1">
          <button data-action="click->sidebar#desktopToggle" class="nav-link w-full">
            <i class="fas fa-angles-left w-5 h-5 mr-3 text-sm"></i>
            <span class="font-medium pb-1"><%= t("views.shared.sidebar.collapse") %></span>
          </button>
        </div>
    </div>
</nav>
