<% content_for :page_title do %>
  Calendrier
<% end %>

<% content_for :navbar_actions do %>
  <%= render 'calendars/date_navigation' %>
<% end %>

<div class="max-w-6xl mx-auto mt-16 bg-white rounded-xl shadow-md p-8" id="calendar-content">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl font-bold text-blue-800">
      <%= l(@selected_date, format: :long) %>
    </h1>

    <div class="flex gap-3">
      <%= link_to new_day_day_recipe_path(@day),
            class: "inline-flex items-center px-4 py-2 bg-orange-600 text-white rounded-lg shadow hover:bg-orange-500 transition font-medium",
            data: { turbo_frame: "item_form" } do %>
        <i class="fas fa-plus mr-2"></i>
        <%= t("views.calendars.add_recipe") %>
      <% end %>

      <%= link_to new_day_day_food_path(@day),
            class: "inline-flex items-center px-4 py-2 bg-blue-800 text-white rounded-lg shadow hover:bg-blue-600 transition font-medium",
            data: { turbo_frame: "item_form" } do %>
        <i class="fas fa-plus mr-2"></i>
        <%= t("views.calendars.add_food") %>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "item_form" %>

  <%= render 'calendars/nutrition_summary',
             total_calories: @total_calories,
             total_proteins: @total_proteins,
             total_carbs: @total_carbs,
             total_fats: @total_fats,
             total_sugars: @total_sugars %>

  <%= render 'calendars/daily_objectives',
             profile: @profile,
             total_calories: @total_calories,
             total_proteins: @total_proteins,
             total_fats: @total_fats,
             daily_calorie_goal: @daily_calorie_goal,
             daily_protein_goal: @daily_protein_goal,
             daily_fats_goal: @daily_fats_goal,
             calories_percentage: @calories_percentage,
             proteins_percentage: @proteins_percentage,
             fats_percentage: @fats_percentage %>

  <%= render 'calendars/day_items',
             all_day_items: @all_day_items,
             day_items_by_group: @day_items_by_group,
             day_items_without_group: @day_items_without_group,
             day: @day %>
</div>
