<tr>
  <td class="px-4 py-2"><%= food.name %></td>
  <td class="px-4 py-2"><%= food.brand %></td>
  <td class="px-4 py-2">
    <%= render FoodLabelsComponent.new(food: food) %>
  </td>
  <td class="px-4 py-2"><%= food.calories %> kcal</td>
  <td class="px-4 py-2"><%= food.proteins %> g</td>
  <td class="px-4 py-2"><%= food.carbs %> g</td>
  <td class="px-4 py-2"><%= food.fats %> g</td>
  <td class="px-4 py-2"><%= food.sugars %> g</td>
  <td class="px-4 py-2 text-center">
    <%= render DropdownGroupButtonComponent.new(dropdown: false) do |dropdown| %>
      <% dropdown.with_button(type: :link, path: edit_food_path(food), text: 'Modifier') %>

      <% dropdown.with_button(type: :custom, custom_content: delete_link_with_confirm(food_path(food),
                                              confirm: "Es-tu sûr de vouloir supprimer cet aliment ?",
                                              title: "Supprimer",
                                              text: "Supprimer",
                                              class: "block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100")) %>
    <% end %>
  </td>
</tr>
