<% content_for :page_title, "Banque d'Aliments" %>

<% content_for :navbar_actions do %>
  <%= link_to new_food_path, class: "inline-flex items-center px-4 py-2 bg-blue-700 text-white rounded-lg shadow hover:bg-blue-800 transition font-medium" do %>
    <i class="fas fa-plus mr-2"></i>
    Ajouter un aliment
  <% end %>
<% end %>

<div class="max-w-6xl mx-auto mt-16 bg-white rounded-xl shadow-md p-8">
  <%= render "search_form" %>

  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200"
           data-controller="sortable-table"
           data-sortable-table-current-sort-value="<%= params[:sort_by] || 'name' %>"
           data-sortable-table-current-direction-value="<%= params[:direction] || 'asc' %>">

      <%= render "table_headers" %>

      <tbody class="bg-white divide-y divide-gray-200">
        <%= render partial: "table_row", collection: @foods, as: :food %>
      </tbody>
    </table>
  </div>
</div>
